TUNNEL_TOKEN=                  # Cloudflare tunnel token

BASE_URL=                      # Backend URL
BETTER_AUTH_ALLOWED_ORIGINS=   # Frontend URL
BETTER_AUTH_TRUSTED_ORIGINS=   # Frontend URL
BETTER_AUTH_URL=               # Backend URL

BETTER_AUTH_SECRET=changeme    # openssl rand -base64 32
DISABLE_SIGNUP=                # true/false
DISABLE_TELEMETRY=             # true/false

CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=changeme

POSTGRES_DB=analytics
POSTGRES_USER=frog
POSTGRES_PASSWORD=changeme

# External Service Tokens (optional)
MAPBOX_TOKEN=