TUNNEL_TOKEN=                  # Cloudflare tunnel token

BASE_URL=                      # https://rybbit.domain.tld
DOMAIN_NAME=                   # rybbit.domain.tld

BETTER_AUTH_SECRET=changeme    # openssl rand -base64 32
DISABLE_SIGNUP=false           # true/false
DISABLE_TELEMETRY=true         # true/false

CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=changeme

POSTGRES_DB=analytics
POSTGRES_USER=frog
POSTGRES_PASSWORD=changeme

REDIS_PASSWORD=changeme

# External Service Tokens (optional)
MAPBOX_TOKEN=